In [ ]:
# Homework Assignment 1: Analyzing Sales Data

# You are given a dataset containing sales data for an e-commerce website. The dataset (task\sales_data.csv) has the following columns:

# Date: Date of the sale.
# Product: Name of the product sold.
# Category: Category to which the product belongs.
# Quantity: Number of units sold.
# Price: Price per unit.
# Tasks:

# Group the data by the Category column and calculate the following aggregate statistics for each category:
# Total quantity sold.
# Average price per unit.
# Maximum quantity sold in a single transaction.
# Identify the top-selling product in each category based on the total quantity sold.
# Find the date on which the highest total sales (quantity * price) occurred.

In [5]:
# 1
import pandas as pd
import numpy as np
df = pd.read_csv('sales_data.csv')
df

          Date                 Product     Category  Quantity  Price
0   2023-01-01                  Laptop  Electronics        10    800
1   2023-01-01                 T-Shirt     Clothing         5     20
2   2023-01-02              Smartphone  Electronics         8    400
3   2023-01-02            Coffee Maker         Home        12     50
4   2023-01-03                   Jeans     Clothing        15     30
5   2023-01-03                 Blender         Home         6     60
6   2023-01-04              Headphones  Electronics        10    150
7   2023-01-04                 Sweater     Clothing         7     35
8   2023-01-05                 Toaster         Home         8     25
9   2023-01-05                  Tablet  Electronics        12    300
10  2023-01-06                Sneakers     Clothing        10     50
11  2023-01-06          Vacuum Cleaner         Home         5     80
12  2023-01-07                Smart TV  Electronics        15   1000
13  2023-01-07                  Hoodie     Clothing         6     25
14  2023-01-08          Blu-ray Player         Home         9     70
15  2023-01-08        Wireless Earbuds  Electronics        11    120
16  2023-01-09            Denim Jacket     Clothing        13     45
17  2023-01-09            Air Purifier         Home         7     90
18  2023-01-10          Gaming Console  Electronics        14    400
19  2023-01-10            Formal Shirt     Clothing         8     35
20  2023-01-11            Cookware Set         Home        10     60
21  2023-01-11     External Hard Drive  Electronics         9     80
22  2023-01-12              Sunglasses     Clothing        11     15
23  2023-01-12               Desk Lamp         Home         6     25
24  2023-01-13        Wireless Speaker  Electronics        12     70
25  2023-01-13              Sweatpants     Clothing         7     20
26  2023-01-14            Coffee Table         Home         8    100
27  2023-01-14                   Drone  Electronics        10    300
28  2023-01-15                Backpack     Clothing        14     40
29  2023-01-15           Comforter Set         Home         7     45
30  2023-01-16         Fitness Tracker  Electronics         9     60
31  2023-01-16            Casual Shoes     Clothing         6     30
32  2023-01-17           Kitchen Scale         Home        12     20
33  2023-01-17               Projector  Electronics        13    200
34  2023-01-18             Dress Shirt     Clothing         8     25
35  2023-01-18              Steam Iron         Home        11     30
36  2023-01-19                Soundbar  Electronics        15    150
37  2023-01-19              Sweatshirt     Clothing         7     35
38  2023-01-20            Bedside Lamp         Home        10     20
39  2023-01-20  Point-and-Shoot Camera  Electronics         8    250
40  2023-01-21             Sport Shoes     Clothing        12     40
41  2023-01-21              Desk Chair         Home         6     75
42  2023-01-22          Wireless Mouse  Electronics        11     25
43  2023-01-22            Summer Dress     Clothing         9     30
44  2023-01-23         Pressure Cooker         Home        14     50
45  2023-01-23       Bluetooth Headset  Electronics         7     50
46  2023-01-24             Denim Skirt     Clothing         8     25
47  2023-01-24               Bookshelf         Home        13     80
48  2023-01-25              4K Monitor  Electronics         9    350
49  2023-01-25             Cargo Pants     Clothing        11     30

In [10]:
grouped_by_category = df.groupby('Category')
type(grouped_by_category)

pandas.core.groupby.generic.DataFrameGroupBy

In [11]:
grouped_by_category.ngroups

3

In [16]:
for i in grouped_by_category.groups:
    print(i)

Clothing
Electronics
Home

In [54]:
# Group the data by the Category column and calculate the following aggregate statistics for each category:
# Total quantity sold.
grouped_by_category['Quantity'].agg(sum)

C:\Users\Acer\AppData\Local\Temp\ipykernel_23080\651917540.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  grouped_by_category['Quantity'].agg(sum)

Category
Clothing       157
Electronics    183
Home           144
Name: Quantity, dtype: int64

In [18]:
# Average price per unit
grouped_by_category['Price'].agg('mean')

Category
Clothing        31.176471
Electronics    276.764706
Home            55.000000
Name: Price, dtype: float64

In [53]:
# Maximum quantity sold in a single transaction.
filtered = grouped_by_category['Quantity'].agg('max')
filtered

Category
Clothing       15
Electronics    15
Home           14
Name: Quantity, dtype: int64

In [57]:
# Identify the top-selling product in each category based on the total quantity sold.
product_sales = df.groupby(['Category', 'Product'])['Quantity'].sum().reset_index()


sorted_sales = product_sales.sort_values(['Category', 'Quantity'], ascending=[True, False])

top_selling = sorted_sales.groupby('Category').first().reset_index()
top_selling

      Category          Product  Quantity
0     Clothing            Jeans        15
1  Electronics         Smart TV        15
2         Home  Pressure Cooker        14

In [64]:
# Find the date on which the highest total sales (quantity * price) occurred.
df['Date'] = pd.to_datetime(df['Date'])

df['TotalSales'] = df['Quantity'] * df['Price']

daily_sales = df.groupby('Date')['TotalSales'].sum()

date_with_highest_sales = daily_sales.idxmax()
date_with_highest_sales

Timestamp('2023-01-07 00:00:00')

In [ ]:
# Homework Assignment 2: Examining Customer Orders

# You have a dataset (task\customer_orders.csv) containing information about customer orders. The dataset has the following columns:

# OrderID: Unique identifier for each order.
# CustomerID: Unique identifier for each customer.
# Product: Name of the product ordered.
# Quantity: Number of units ordered.
# Price: Price per unit.
# Tasks:

# 1 Group the data by CustomerID and filter out customers who have made less than 20 orders.
# 2 Identify customers who have ordered products with an average price per unit greater than $120.
# 3 Find the total quantity and total price for each product ordered, and filter out products that have a total quantity less than 5 units.

In [105]:
df = pd.read_csv('customer_orders.csv')
df

    OrderID  CustomerID              Product  Quantity  Price
0         1         101               Laptop         2    800
1         2         102           Headphones         1    150
2         3         103           Smartphone         3    400
3         4         101  External Hard Drive         2     80
4         5         102             Backpack         1     40
..      ...         ...                  ...       ...    ...
95       96         103              Blender         1     60
96       97         104          Sport Shoes         2     40
97       98         105        Comforter Set         1     45
98       99         101     Wireless Earbuds         2    120
99      100         102       Gaming Console         1    400

[100 rows x 5 columns]

In [120]:
# # 1 Group the data by CustomerID and filter out customers who have made less than 20 orders.
# filted = df.groupby('CustomerID')
# filted
# for i in filted.groups:
#     print(i)

# certain_customers = filted.count["Quantity"]

# customer_order_counts = df.groupby('CustomerID').size()
# import pandas as pd
# from io import StringIO

In [122]:
# 1
customer_order_counts = df.groupby('CustomerID').size().reset_index(name='OrderCount')

frequent_customers = customer_order_counts[customer_order_counts['OrderCount'] <= 20]['CustomerID']


filtered_df = df[df['CustomerID'].isin(frequent_customers)]

print(filtered_df)

    OrderID  CustomerID                 Product  Quantity  Price
2         3         103              Smartphone         3    400
5         6         104                  Tablet         2    300
7         8         103        Wireless Earbuds         2    120
9        10         104            Coffee Maker         1     50
10       11         105                Sneakers         2     50
11       12         103             Dress Shirt         3     25
12       13         104           Kitchen Scale         1     20
15       16         103            Formal Shoes         1     60
16       17         104            Cookware Set         1     60
17       18         105        Wireless Speaker         1     70
20       21         103              Steam Iron         1     30
21       22         104           Comforter Set         1     45
22       23         105  Point-and-Shoot Camera         1    250
25       26         103        Wireless Charger         1     35
26       27         104                 Sweater         2     35
27       28         105               Projector         1    200
30       31         103          Blu-ray Player         1     70
31       32         104             Sport Shoes         2     40
32       33         105                   Drone         1    300
35       36         103       Bluetooth Headset         1     50
36       37         104                  Hoodie         1     25
37       38         105              Desk Chair         1     75
40       41         103            Coffee Table         1    100
41       42         104               Bookshelf         1     80
42       43         105             Denim Skirt         1     25
45       46         103            Formal Shoes         1     60
46       47         104                Smart TV         1   1000
47       48         105             Cargo Pants         2     30
50       51         103        Wireless Earbuds         2    120
51       52         104          Gaming Console         1    400
52       53         105           Comforter Set         1     45
55       56         103                Backpack         1     40
56       57         104               Desk Lamp         1     25
57       58         105             Dress Shirt         2     25
60       61         103        Wireless Charger         1     35
61       62         104              Steam Iron         2     30
62       63         105                Sneakers         1     50
65       66         103         Fitness Tracker         1     60
66       67         104                   Jeans         1     30
67       68         105             Cargo Pants         1     30
70       71         103       Bluetooth Headset         1     50
71       72         104          Blu-ray Player         1     70
72       73         105                  Hoodie         1     25
75       76         103                 Sweater         1     35
76       77         104            Coffee Table         2    100
77       78         105               Projector         1    200
80       81         103             Cargo Pants         1     30
81       82         104              Sunglasses         2     15
82       83         105            Formal Shoes         1     60
85       86         103                 Toaster         2     25
86       87         104                Smart TV         1   1000
87       88         105            Casual Shoes         1     30
90       91         103            Formal Shirt         2     35
91       92         104                   Jeans         1     30
92       93         105          Wireless Mouse         1     25
95       96         103                 Blender         1     60
96       97         104             Sport Shoes         2     40
97       98         105           Comforter Set         1     45

In [124]:
# 2
average_price_per_customer = df.groupby('CustomerID')['Price'].mean().reset_index(name='AveragePrice')

customers_high_average_price = average_price_per_customer[average_price_per_customer['AveragePrice'] > 120]

high_average_price_customer_ids = customers_high_average_price['CustomerID'].tolist()

filtered_df_high_average_price = df[df['CustomerID'].isin(high_average_price_customer_ids)]

print("Customers with average product price > $120:")
print(customers_high_average_price)

Customers with average product price > $120:
   CustomerID  AveragePrice
1         102    138.095238
3         104    169.750000

In [127]:
# 3 Find the total quantity and total price for each product ordered, and filter out products that have a total quantity less than 5 units.

product_summary = df.groupby('Product').agg(
    TotalQuantity=('Quantity', 'sum'),
    TotalPrice=('Price', 'sum')
).reset_index()

filtered_products = product_summary[product_summary['TotalQuantity'] <= 5]

print("Total quantity and total price per product (with total quantity <= 5):")
print(filtered_products)

Total quantity and total price per product (with total quantity <= 5):
                   Product  TotalQuantity  TotalPrice
0                 Backpack              4         160
1                  Blender              4         180
2           Blu-ray Player              2         140
3        Bluetooth Headset              2         100
4                Bookshelf              2         160
6             Casual Shoes              3          90
7             Coffee Maker              3         150
8             Coffee Table              3         200
9            Comforter Set              3         135
10            Cookware Set              1          60
11            Denim Jacket              2          90
12             Denim Skirt              1          25
13              Desk Chair              2         150
14               Desk Lamp              2          50
15             Dress Shirt              5          50
16                   Drone              2         600
17     External Hard Drive              3         160
18         Fitness Tracker              3         180
20            Formal Shoes              3         180
21          Gaming Console              3        1200
22              Headphones              1         150
23                  Hoodie              2          50
24                   Jeans              3          90
25           Kitchen Scale              1          20
26                  Laptop              2         800
27  Point-and-Shoot Camera              2         500
28               Projector              2         400
29                Smart TV              3        3000
30              Smartphone              5         800
31                Sneakers              3         100
32             Sport Shoes              5         120
33              Steam Iron              3          60
34            Summer Dress              3          60
35              Sunglasses              5          60
36                 Sweater              3          70
37              Sweatshirt              2          35
38                  Tablet              2         300
39                 Toaster              3          50
40        Wireless Charger              2          70
42          Wireless Mouse              3          75
43        Wireless Speaker              2         140

In [ ]:
# Homework Assignment 3: Population Salary Analysis

#1  "task\population.db" sqlite database has population table.
#2 "task\population salary analysis.xlsx" file defines Salary Band categories.
# Read the data from population table and calculate following measures:
# Percentage of population for each salary category;
# Average salary in each salary category;
# Median salary in each salary category;
# Number of population in each salary category;
# 3 Calculate the same measures in each State
# Note: Use SQL only to select data from database. All the other calculations should be done in python.

In [130]:
import pandas as pd
import sqlite3

# --- Step 1:
db_path = 'task/population.db'
conn = sqlite3.connect(db_path)
query = "SELECT id, state, city, age, gender, salary FROM population"
population_df = pd.read_sql_query(query, conn)
conn.close()

print("Population Data:")
print(population_df.head())
print("\n")

# --- Step 2: 
excel_path = 'task/population salary analysis.xlsx'
salary_bands_df = pd.read_excel(excel_path)

print("Salary Bands:")
print(salary_bands_df)
print("\n")

# --- Step 3: 
def categorize_salary(salary, bands_df):
    for index, row in bands_df.iterrows():
        if row['Lower Bound'] <= salary < row['Upper Bound']:
            return row['Category']
        elif row['Lower Bound'] == salary and row['Lower Bound'] == bands_df['Lower Bound'].min():
            return row['Category']
    return None  
population_df['Salary Category'] = population_df['salary'].apply(lambda x: categorize_salary(x, salary_bands_df))

print("Population Data with Salary Categories:")
print(population_df.head())
print("\n")

# --- Step 4: 
global_analysis = population_df.groupby('Salary Category').agg(
    PopulationCount=('id', 'count'),
    AverageSalary=('salary', 'mean'),
    MedianSalary=('salary', 'median')
).reset_index()

total_population = population_df['id'].count()
global_analysis['PercentageOfPopulation'] = (global_analysis['PopulationCount'] / total_population) * 100

print("Global Salary Category Analysis:")
print(global_analysis)
print("\n")

# --- Step 5: 
state_analysis = population_df.groupby(['State', 'Salary Category']).agg(
    PopulationCount=('id', 'count'),
    AverageSalary=('salary', 'mean'),
    MedianSalary=('salary', 'median')
).reset_index()

state_total_population = population_df.groupby('State')['id'].count().reset_index(name='TotalStatePopulation')
state_analysis = pd.merge(state_analysis, state_total_population, on='State')
state_analysis['PercentageOfPopulation'] = (state_analysis['PopulationCount'] / state_analysis['TotalStatePopulation']) * 100
state_analysis = state_analysis.drop(columns=['TotalStatePopulation'])

print("Salary Category Analysis by State:")
print(state_analysis)

OperationalError: unable to open database file